# Python: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Mac OS Files
.DS_Store

# Installer logs
pip-log.txt

# virtualenv
.venv/
venv/
ENV/

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
